unstructured
langchain
openai
chromadb
tiktoken
python-dotenv
google-search-results
yfinance
yahooquery
matplotlib
fastapi
uvicorn
streamlit
pytube
requests
youtube-transcript-api
starlette
pydantic
pydantic-core
click
ta
langdetect
googletrans